Уважаемый, ${subject.responsibleTeam.leader.title}!&nbsp;
<div>В ответственность Вашей команды "${subject.responsibleTeam.title}" поступил <a
        href="${api.web.open(subject, subject.responsibleTeam.leader.login)}">обращение №${subject.number}</a>.&nbsp;
</div>
<div>Краткое описание:&nbsp;</div>
<div>"${subject?.shortDescr}".&nbsp;</div>
<div>Для назначения ответственного или получения детальной информации перейдите в <a
        href="${api.web.open(subject, subject.responsibleTeam.leader.login)}">карточку запроса</a>.
</div>
<div><br></div><font color="gray" face="verdana" size="3">
    &nbsp; &nbsp; &nbsp; &nbsp; <br>
    &nbsp; &nbsp; &nbsp; &nbsp; С уважением,<br>
    &nbsp; &nbsp; &nbsp; &nbsp; NAUMEN Service Desk 4.0.<br>
    &nbsp; &nbsp; &nbsp; &nbsp; Телефон: +7(495)783-02-87<br>
    &nbsp; &nbsp; &nbsp; &nbsp; Email: <a href="mailto:salessd4@sd-dev2.naumen.ru">salessd4@sd-dev2.naumen.ru</a>
    &nbsp; &nbsp; &nbsp; &nbsp; <br><br>Naumen Service Desk в сети интернет:<br><br>
    <a href="http://www.naumensd.ru/" title="Сайт Naumen Service Desk 4.0"><img
            src="http://download.naumen.ru/upload/SALES/logo_sign.png" height="28"
            alt="Сайт Naumen Service Desk 4.0 &nbsp; &nbsp; "></a>&nbsp;&nbsp;<a
        href="http://www.linkedin.com/groups/Naumen-Service-Desk-4359014?gid=4359014"><img
        src="http://download.naumen.ru/upload/SALES/linkedin.png" height="28" alt="Мы в LinkedIN &nbsp;"></a>
    <a href="http://www.facebook.com/NaumenServiceDesk"><img src="http://download.naumen.ru/upload/SALES/facebook.png"
                                                             height="28" alt="Мы в Facebook &nbsp; "></a>&nbsp;<a
        href="https://twitter.com/naumensd"><img src="http://download.naumen.ru/upload/SALES/twitter.png" height="28"
                                                 alt="Наш Twitter &nbsp; "></a>
    &nbsp; &nbsp; </font>
&nbsp; &nbsp;